html,
body {
    height: 100%;
}

body {
    height: 0;
    padding: 0;
    margin: 50px 0;
    background-image: url(./background.svg);
    color: #FCFBFB;
    font-size: 20px;
    font-family: "Helvetica Neue", "Calibri Light", Roboto, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.02em;
}

a {
    color: inherit;
    text-decoration: underline;
}

a:focus,
a:active,
a:hover {
    color: #7500ff;
}

::-webkit-input-placeholder {
    color: #A7A7A7 !important;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #A7A7A7 !important;
}

:-ms-input-placeholder {
    color: #A7A7A7 !important;
}

label {
    color: #A7A7A7;
}

.parent-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer {
    margin-top: 50px;
    font-size: 16px;
}

.logo {
    background: url(./logo.svg);
    background-repeat: no-repeat;
    height: 150px;
    width: 150px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    button.btn {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }
    .parent-container {
        position: relative;
        margin-top: 50px;
        top: 0;
        left: 0;
        transform: translate(0, 0);
    }
}

hr {
    padding: 10px 0;
    border-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

.social {
    text-align: center;
}

.social-list__item,
.social-list__item:focus,
.social-list__item:visited,
.social-list__item:active,
.social-list__item:hover {
    display: block;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
}

.social-list__item svg {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    fill: white;
}

.social-list__item--facebook {
    background: #3b5998;
    border: 1px solid #3b5998;
}

.social-list__item--facebook:hover {
    background: white;
    color: #3b5998;
    fill: #3b5998;
}

.social-list__item--facebook:hover svg {
    fill: #3b5998;
}

.social-list__item--twitter {
    background: #55acee;
    border: 1px solid #55acee;
}

.social-list__item--twitter:hover {
    background: white;
    color: #55acee;
}

.social-list__item--twitter:hover svg {
    fill: #55acee;
}
